{% extends 'base.html' %}

{% block content %}
<div class="cover-container d-flex w-50 h-50 p-3 mx-auto flex-column">
    <div class="text-center">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Welcome to OCIO - Bangladesh</h1>
            <p class="lead">We at OCIO care about your well being. Our products promote healthy lifestyle. Over the
                next
                few moments you will embark on a journey that will captivate you. So why wait? Just indulge yourself
                by
                pressing the button below
            </p>
            <p class="lead">
                <a href="{% url 'products_index' %}" class="btn btn-lg btn-secondary">Enter</a>
            </p>
        </main>
    </div>
</div>
{% endblock %}