{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row vh-100 bg-dark">
        <div class="col-3 bg-dark">
        </div>
        <div class="col-6 text-white align-self-center">
            <div class="jumbotron jumbotron-fluid bg-dark">
                <div class="container text-center">
                    <h1 class="display-5">Welcome to OCIO - Bangladesh</h1>
                    <p class="lead">We at OCIO care about your well being. Our products promote healthy
                        lifestyle. Over the next few moments you will embark on a journey that will captivate you. So
                        why wait? Just indulge yourself by pressing the button below
                    </p>
                    <a class="btn btn-info btn-lg" href="{% url 'products_index' %}" role="button">Enter</a>
                </div>
            </div>
        </div>
        <footer class="text-white fixed-bottom">
            <div class="container text-center">
                <p> © S M Tahmid Baquee {% now "Y" %}</p>
            </div>
        </footer>
        <div class="col-3 bg-dark">
        </div>
    </div>
</div>
{% endblock %}