{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="{% url 'home' %}">OCIO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Details
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Locate US</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid bg-dark">
    <div class="row bg-dark">
        <div class="col text-white align-self-center">
            <div class="jumbotron jumbotron-fluid bg-dark">
                <div class="container text-center">
                    <p class="font-italic font-weight-bolder">OCIO - Bangladesh provides massage chairs of exquisite
                        taste and style, unparalleled in the current market. Our chairs uses state of the art technology
                        to provide your body with a soothing massage experience utilizing several different massage
                        methods. Depending on your requirement you can choose 3D+ or 4D massage modes targeting your
                        full or particular body parts. Be sure, your mind and body will be rejuvenated and relaxed after
                        each massage session.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row bg-dark">
        {% for chair in chairs %}
        <div class="col-6 bg-dark align-self-center text-center text-white pb-5">
            <div class="media ml-5">
                <a href="{% url 'details' chair.id %}">
                    <img src="{{ chair.model_image.url }}" class="img-thumbnail">
                </a>
                <div class="media-body mr-3">
                    <h5 class="mt-0">{{ chair.model_number }}</h5>
                    {{ chair.model_description }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}